body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 10px 19px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ec593c;
  background-image: linear-gradient(to bottom, #f26843, #e74a35);
  border-radius: 45px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-color: #f07963;
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.button:active {
  background-color: #db5338;
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
}

.show-item {
  visibility: visible;
}

.hide-item {
  visibility: hidden;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 2.3%;
  min-width: 900px;
  max-width: 1200px;
}

.main-header {
  position: relative;
  z-index: 1;
}

.main-header a {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.top-line {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  padding-top: 9px;
  width: 100%;
}

.main-header .header-logo {
  margin-right: 10px;
  width: 154px;
  height: 64px;

  cursor: pointer;
}

.main-navigation {
  position: relative;

  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-navigation a {
  display: block;
  box-sizing: border-box;

  padding: 7px 14px;
}

.main-navigation > li > a {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.main-navigation > li > a:hover,
.main-navigation > li > a:focus,
.main-navigation > li:hover > a {
  color: #323232;

  background-color: #ffffff;
  border-radius: 20px;
  text-decoration: none;
}

.main-navigation > li > a:active {
  box-shadow: 0px 2px 1px 0px rgba(105, 105, 105, 1) inset;
}

.main-navigation > li > a.active {
  color: #ffffff;

  background-color: #d07058;
  text-decoration: none;
  border-radius: 20px;
}

.catalog-navigation-link {
  position: relative;
}

.main-navigation .catalog-navigation-link:hover > ul,
.main-navigation .catalog-navigation-link a:focus + ul,
.catalog-navigation-link:focus-within > ul {
  visibility: visible;
}

.catalog-navigation {
  visibility: hidden;

  position: absolute;
  top: 37px;
  left: -6px;
  
  margin: 0;
  padding: 12px 0 6px;
  width: 143px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  list-style-type: none;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-navigation-link > a {
  position: relative;
  z-index: 2;
}

.absolute-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 40px;
}

.catalog-navigation a {
  display: block;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  margin-top: 6px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  color: #323232;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  background-color: #fbded7;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
}

.catalog-navigation a.active {
  color: #ffffff;

  background-color: #d07058;
}

.catalog-navigation .catalog-navigation-title {
  padding-bottom: 12px;
  padding-left: 14px;
  margin-left: 6px;
  margin-right: 9px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;

  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.search-form {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: auto;
  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
 
  border-radius: 16px;
  cursor: pointer;
}

.search-form:hover,
.search-form:focus-within {
  background-color: #f8f7f4;
}

.search-form:focus-within svg path,
.search-form:hover svg path {
  fill: #000000;
}

.search-form form {
  visibility: hidden;

  position: absolute;
  top: 37px;
  right: 0;

  padding: 20px 15px;
  width: 340px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 9px 14px;

  font-size: 14px;
  line-height: 24px;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-form input::placeholder {
  color: #999999;
}

.search-form:hover form,
.search-form:focus form,
.search-form:focus-within form {
  visibility: visible;
}

.login-link-wrapper {
  position: relative;

  margin-right: 10px;
}

.login-link {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 92px;
  padding: 8px 16px 8px 43px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  cursor: pointer;
}

.login-link svg {
  position: absolute;
  left: 16px;
  top: 6px;

  width: 20px;
  height: 19px;
}

.login-link svg g {
  fill: #ffffff;
}

.login-link-wrapper:focus-within .login-link,
.login-link:hover,
.login-link:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.login-link-wrapper:focus-within svg g,
.login-link-wrapper:hover svg g,
.login-link:hover svg g,
.login-link:focus svg g {
  fill: #373737;
}

.login-link-wrapper:hover form,
.login-link:focus + form,
.login-link-wrapper:focus-within form {
  visibility: visible;
}

.login-link-wrapper:focus-within a,
.login-link-wrapper:hover a {
  color: #323232;

  background-color: #f8f7f4;
}

.login-form {
  visibility: hidden;

  position: absolute;
  top: 38px;
  right: 0;

  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 277px;
  padding: 20px 18px 22px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form input[type="email"],
.login-form input[type="password"] {
  box-sizing: border-box;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-form input[type="email"]::placeholder,
.login-form input[type="password"]::placeholder {
  color: #999999;
}

.bottom-line-wrapper {
  display: flex;
}

.login-form .button {
  padding: 10px 25px;
  
  border: none;
  cursor: pointer;
}

.bottom-line-wrapper a {
  display: block;
  margin-left: 19px;

  font-size: 13px;
  line-height: 24px;
  color: #323232;

  text-decoration: underline;
}

.bottom-line-wrapper a:hover,
.bottom-line-wrapper a:focus,
.bottom-line-wrapper a:active {
  color: #e84d37;
}

.cart-wrapper {
  position: relative;
}

.cart-wrapper .cart-link {
  position: relative;

  box-sizing: border-box;
  display: block;
  width: 117px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/basket.svg");
  background-position: 16px 6px;
  background-repeat: no-repeat;
  border-radius: 20px;
  cursor: pointer;
}

.cart-wrapper .cart-link.active {
  color: #323232;

  background-color: #f7f6f3;
  background-image: url("../img/basket-red.svg");
}

.cart-wrapper .cart-link.active:hover + .cart-info,
.cart-wrapper .cart-link.active:focus + .cart-info,
.cart-info:hover {
  visibility: visible;
}

.cart-info {
  visibility: hidden;

  position: absolute;
  top: 38px;
  right: 0;

  box-sizing: border-box;
  width: 539px;
  padding: 20px 15px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart-info table {
  box-sizing: border-box;
  margin-bottom: 15px;

  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
}

.cart-info td {
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 20px;
}

.cart-info .delete-item {
  padding-left: 6px;
  padding-top: 10px;
  width: 23px;
}

.delete-item button {
  position: relative;

  width: 11px;
  height: 11px;

  background-color: transparent;

  border: none;
  outline: none;
  cursor: pointer;
}

.delete-item button::before,
.delete-item button::after {
  content: "";

  position: absolute;
  left: 0px;
  top: 5px;

  width: 15px;
  height: 1px;

  background-color: #231f20;
}

.delete-item button::before {
  transform: rotate(45deg);
}

.delete-item button::after {
  transform: rotate(-45deg);
}

.cart-info .product-column {
  padding-left: 49px;

  background-position: 3px 0;
  background-repeat: no-repeat;
  background-size: 33px;
}

.cart-info .product-column.first {
  background-image: url("../img/hit-1.png");
}

.cart-info .product-column.second {
  background-image: url("../img/hit-3.png");
}

.cart-info .quantity-column {
  width: 111px;

  text-align: center;
}

.quantity-column span {
  color: #999999;
}

.cart-info .sum-column {
  width: 88px;

  text-align: center;
}

.cart-info > span {
  display: block;
  margin-bottom: 12px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
}

.cart-info .button {
  float: right;
}

.main-header .working-hours,
.main-header .tel {
  font-weight: 700;
  text-align: right;
}

.main-header .working-hours {
  margin-bottom: 6px;

  font-size: 14px;
  line-height: 16px;
}


.main-header .tel {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;

  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 40px;
}

.slider .slider-items-wrapper {
  position: relative;

  margin-bottom: 30px;
  width: 680px;
}

.slider-item h3 {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-top: 274px;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider-2, .slider-3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slider-item img {
  position: absolute;
}

.slider-item img.left {
  top: -35px;
  left: 15px;
}

.slider-item img.right {
  top: 10px;
  right: 15px;
}

.slider .button {
  position: relative;

  padding: 10px 42px;

  font-size: 32px;
  line-height: 44px;
}

.slider-dots {
  position: absolute;
  left: 0;
  bottom: 22px;

  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
  cursor: pointer;
}

.slider-dots > li {
  box-sizing: border-box;
  width: 21px;
  height: 21px;

  border: 2px solid #ffffff;
  border-radius: 11px;
}

.slider-dots > li.active {
  border-width: 11px;
}

.slider-dots > li + li {
  margin-left: 8px;
}

.banners {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banner-item {
  box-sizing: border-box;
  width: 48.85%;
  padding: 20px;

  background-color: #a10118;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 15px;
}

.banner-1 {
  background-image: url("../img/raspberry-layout.jpg");
}

.banner-2 {
  background-image: url("../img/chocolate-layout.jpg");
}

.banner-item h3 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

.banner-item p {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.banner-item .button {
  float: right;

  padding-right: 24px;
  padding-left: 24px;
}

.hits {
  margin-bottom: 40px;
}

.hits-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-item {
  position: relative;

  width: 23.27%;
  text-align: center;
}

.catalog-item figure {
  margin: 0;
}

.catalog-item figcaption {
  margin-top: 15px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog-item p {
  position: absolute;
  top: 214px;
  left: 0;

  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item p span {
  font-size: 30px;
}

.hit::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  border-radius: 32px;
}

.catalog-item .button {
  display: none;
  box-sizing: border-box;

  position: relative;
  
  margin-top: 18px;
  padding-right: 17px;
  padding-left: 17px; 
}

.catalog-item .overlay {
  display: none;

  position: absolute;
  top: -6px;
  left: -10px;
  right: -10px;
  bottom: -20px;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 5px;
}

.catalog-item:hover .overlay {
  display: block;
}

.catalog-item:hover .button {
  display: inline-block;
}

.about {
  padding-left: 1.7%;
  padding-right: 1.7%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 40px;

  color: #323232;

  background-color: #eee2c8;
  background-image: url("../img/pattern-about.jpg");
  border-radius: 15px;
}

.about h2 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about p {
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 56px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.about p::before {
  content: "";

  position: absolute;
  top: -10px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url("../img/ice-cream.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.about p.two::before {
  background-image: url("../img/eco.svg");
}

.about p.three::before {
  background-image: url("../img/cow.svg");
}

.about p.four::before {
  background-image: url("../img/thermometer.svg");
}

.about p + p {
  margin-top: 22px;
}

.about .wrapper {
  display: flex;
  justify-content: space-between;
}

.about .left-column,
.about .right-column {
  flex-basis: 48.8%;
}

.sections-wrapper {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news,
.mailing {
  box-sizing: border-box;
  width: 48.85%;
  
  border-radius: 15px;
}

.blog-news {
  padding-top: 21px;
  padding-left: 20px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-layout.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

.blog-news h2 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news a {
  display: block;
  max-width: 290px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: inherit;

  text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #e84d37;
}

.mailing {

  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(-45deg, #92cdff 0, #92cdff 7px, #f8f7f4 7px, #f8f7f4 14px, #fe9e90 14px, #fe9e90 21px, #f8f7f4 21px, #f8f7f4 28px);
  background-origin: border-box;
  background-position: -8px 0;
  border: 5px solid transparent;
}

.mailing .layout {
  padding: 27px 18px 35px;
  width: auto;
  height: auto;

  background-color: #f8f7f4;

  border-radius: 15px;
}

.mailing p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;


  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;

  background-color: #f8f7f4;

}

.mailing form {
  display: flex;

}

.mailing #user-mail {
  flex: 1;
  padding-left: 13px;
  padding-right: 10px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.mailing #user-mail:hover {
  border: 2px solid #c7c6c5;
}

.mailing #user-mail::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #999999;
}

.mailing .button {
  margin-left: 12px;

  color: #fefefe;

  border: none;
  cursor: pointer;
  outline: none;
}

.map {
  position: relative;
  width: 100%;
  height: 430px;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map .container {
  padding-top: 62px;
  padding-bottom: 62px;
  height: 100%;
}

.map .contact-details {
  float: right;

  box-sizing: border-box;
  padding: 27px 25px;
  width: 302px;

  background-color: #fefefe;
  border-radius: 15px;
}

.map p {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.map span {
  display: block;
  margin-top: 3px;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map span.tel {
  margin-top: 6px;
  margin-bottom: 2px;

  line-height: 22px;
}

.map .button {
  width: auto;
  padding-right: 27px;
  padding-left: 27px;
  margin-top: 25px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 24px;
}

.soc-list {
  display: flex;
  width: 23.27%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.soc-link {
  box-sizing: border-box;
  display: block;
  width: 38px;
  height: 38px;

  background-position: 0 0;
  background-repeat: no-repeat;
  border: 3px solid #dae2de;
  border-radius: 19px;

  opacity: 0.8;
}

.soc-link.twitter {
  background-image: url("../img/twitter.svg");
}

.soc-link.instagram {
  background-image: url("../img/instagram.svg");
}

.soc-link.fb {
  background-image: url("../img/fb.svg");
}

.soc-link.vk {
  background-image: url("../img/vk.svg");
}

.soc-list li + li {
  margin-left: 11px;
}

.soc-link:hover,
.soc-link:focus {
  opacity: 1;
}

.soc-link:active {
  opacity: 0.8;
}

.production-navigation {
  display: flex;
  justify-content: center;
  width: 48.85%;
}

.production-navigation div {
  display: flex;
  flex-flow: column;
}

.production-navigation a {
  position: relative;

  margin-left: 32px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.production-navigation a:hover,
.production-navigation a:focus {
  font-weight: 700;
}

.production-navigation a:hover::before,
.production-navigation a:focus::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.copyright {
  display: flex;
  flex-flow: row-reverse;
  width: 23.27%;
  
}

.copyright span {
  display: block;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.copyright span > a {
  color: inherit;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.copyright span > a:hover,
.copyright span > a:focus,
.copyright span > a:active {
  color: #ffbc9e;

  text-decoration-color: #ffbc9e;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  display: none;
}

.modal .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal .feedback-modal {
  position: relative;
  padding: 18px 25px 25px 25px;
  width: 477px;

  background-color: #f8f7f4;

  border-radius: 10px;
}

.feedback-modal p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-modal form {
  display: flex;
  flex-flow: column;
}

.feedback-modal input:not([type="submit"]) {
  margin-bottom: 20px;
  padding: 10px 15px;
  width: 267px;

  font-size: 14px;
  line-height: 24px;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-modal input:not([type="submit"])::placeholder,
.feedback-modal textarea::placeholder {
  color: #999999;
}

.feedback-modal textarea {
  margin-bottom: 25px;
  padding: 10px 15px;
  min-height: 155px;

  font-size: 14px;
  line-height: 24px;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  resize: vertical;
}

.feedback-modal .button {
  align-self: flex-end;
  padding: 10px 25px;
  
  border: none;
  cursor: pointer;
}

.feedback-modal .modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  border: none;
  cursor: pointer;
}

.feedback-modal .modal-close::before,
.feedback-modal .modal-close::after {
  content: "";

  position: absolute;
  top: 8px;
  left: -2px;

  width: 22px;
  height: 2px;

  background-color: #231f20;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.feedback-modal .modal-close::before {
  transform: rotate(45deg);
}

.feedback-modal .modal-close::after {
  transform: rotate(-45deg);
}
